.vscode
*.DS_Store
.idea
.asetup
.bash_profile
.bash_profile_s
.ipynb_checkpoints/
.zshrc
*.root
*.png
*.npy
*.data
*.pyc
*.pdf
*.hdf5
*.pt
*.h5
*.yaml
*.0
*.1
*.ckpt
build*
COCOA/cmake-build-debug/
event_display/output/*
event_display/*.html
*.svg
